<footer>
  <a href="#top">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.68 32.68" class="up"><defs><style>.cls-4{fill:#edcfce;}.cls-5{fill:none;stroke:#cc7076;stroke-miterlimit:10;stroke-width:7px;}</style></defs><title>Middel 5</title><g id="Laag_2" data-name="Laag 2"><g id="Laag_1-2" data-name="Laag 1"><circle class="cls-4" cx="16.34" cy="16.34" r="20"/><polyline class="cls-5" points="25.76 21.26 16.3 11.8 6.84 21.26"/></g></g></svg>
  </a>
  <h4>Made by Flore Van Mierlo <br><a href="https://dekunstkenner.herokuapp.com/" target="_blank">Online gaan</a></h4>
</footer>
