<a href="/"><img src="/imgs/dkk.png" alt="Logo De Kunst Kenner" class="logo"></a>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.68 32.28" class="menu1"><defs><style>.cls-1,.cls-2{fill:none;stroke-miterlimit:10;stroke-width:7px;}.cls-1{stroke:#cc7076;}.cls-2{stroke:#edcfce;}</style></defs><title>Open menu</title><g id="Laag_2" data-name="Laag 2"><g id="Laag_1-2" data-name="Laag 1"><line class="cls-1" y1="3.5" x2="19.15" y2="3.5"/><line class="cls-1" y1="28.78" x2="32.68" y2="28.78"/><line class="cls-2" y1="16.14" x2="32.68" y2="16.14"/></g></g></svg>

<div class="menu">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.68 32.68" class="menu2"><defs><style>.cls-3{fill:#edcfce;}.cls-4{fill:none;stroke:#cc7076;stroke-miterlimit:10;stroke-width:7px;}</style></defs><title>Sluit menu</title><g id="Laag_2" data-name="Laag 2"><g id="Laag_1-2" data-name="Laag 1"><circle class="cls-3" cx="16.34" cy="16.34" r="16.34"/><line class="cls-4" x1="22.46" y1="10.37" x2="8.34" y2="24.5"/><line class="cls-4" x1="8.34" y1="8.57" x2="24.27" y2="24.5"/></g></g></svg>
  <nav>
    <a href="/">Home</a>
    <a href="/werken">Alle werken</a>
    <ul>
      <li><a href="/popart">Popart</a></li>
      <li><a href="/symbolisme">Symbolisme</a></li>
      <li><a href="/realisme">Realisme</a></li>
      <li><a href="/romantisch">Romantisch</a></li>
    </ul>
    <a href="/contact">Contact</a>
  </nav>
</div>
